<!DOCTYPE html>
<html>
  <head>
    <title>My Flights App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>HOME</h1>
    <p>Welcome to Flights App</p>
  </body>
</html>
