<%- include('./partials/header') %>
<a href="/">Home</a>
    <h1>All Flights</h1>
    <table>
		<thead>
			<th>Airline</th>
			<th>Airport</th>
			<th>Flight No</th>
			<th>Departs</th>
		</thead>
		<tbody>

		</tbody>
	</table>
<%- include('./partials/footer') %>